@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.game-container {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background: black;
}

.role-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RB {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("../../image/RB.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.PANTS {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: black;
  animation: path 1s infinite;
  .speedAnime {
    animation: path 0.5s infinite;
  }
}

.answer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .answer-title {
    font-size: 24px;
  }
  .answer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .answer-item {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@keyframes path {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
