@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
.App {
  // font-family: "cwTeXYen", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "DotGothic16", sans-serif;
}
